body {
    font-family: 'Caveat', cursive;
}

#container {
    margin-top: 15%;
    margin-left: 40%;
}

h1 {
    font-size: 3rem;
    color: whitesmoke;
}

button {
    margin-top: 5%;
    margin-left: 8%;
    padding: 20px;
    border-radius: 50%;
}